

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive; 
*/

body {
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Rokkitt', serif; */
    font-family: 'Orbitron', sans-serif;
}

h1 {
    text-align: center;
    /* font-family: 'Press Start 2P', cursive;  */
    /* font-family: 'Rokkitt', serif; */

}

img {
    width: 45%;
    margin-left: 30%;
    z-index: -1;

}
/* 
#container {
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
    height: 300px;
    padding: 10px;
    align-content: center;
    background-image: url("/assets/kittens.jpg");
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    /* background-image: url("/assets/cashregister2"); 
} */

#screen {
    font-family: 'Press Start 2P', cursive;
    width: 170px;
    height: 10px;
    padding: 10px;
    border: 1px solid #949494;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #949494;;
    opacity: .50;
    font-size: 24px;
    position: absolute;
    top: 24.5%;
    left: 52.8%;
    transform: skewX(2deg);
    font-size: 24px;
}

#numberContainer {
    position: absolute;
    top: 36%;
    left: 38.5%;
    /* transform: skewY(-1deg); */
    /* transform: skewX(-4deg); */
    padding: 10px 10px 15px 10px;
    /* background: #333333;
    opacity: .9; */
}

#clear, #balance, #deposit, #withdraw, #addition {
    width: 62px;
    padding: 12px 10px 12px 10px;
    text-align: center;
}

#open {
    float: right;
    height: 138px;
    width: 62px;
    padding: 0px;
    background: #333333;
    margin-bottom: 0px;
    color: lightgrey;
}

#equals {
    width: 62px;
    background: #333333;;
    margin-top: 0px;
    color: lightgrey;
}

.numbers{
    width: 62px;
    padding: 12px 10px 12px 10px;
    margin-top: 4px;
    margin-left: 9px;
    font-size: 18px;
    background: #333333;
    border: 1px solid black;
    border-radius: 10px;    
    color: lightgrey;
}

.numbers, .application, .other {
    box-shadow: 3px 3px 2px black;
    /* font-family: 'Rokkitt', serif; */
    font-family: 'Orbitron', sans-serif;
    opacity: .7;
}

.application, .other {
    width: 62px;
    padding:12px 10px 12px 10px;
    margin-top: 4px;
    margin-left: 9px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;     
    background: #333333;
    color: lightgrey;
}

#receipt {
    display: block;
    position: absolute;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
    top: 15%;
    left: 42.5%;
    color: black;
    text-align: center;
}

#total {
    display: block;
    position: absolute;
    /* border: 1px solid black; */
    height: 20px; 
    width: 100px;
    top: 25%;
    left: 42.5%;
    color: black;
    /* z-index: -1; */
}